<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kisiler.Properties.Settings.PersonelConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Personel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="kisiler.Properties.Settings.kisilerConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=kisiler;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="kisiler.Properties.Settings.ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>